<div class="card h-100">
    <h3 class="card-header my-3" style="background-color: white;">Write to me</h3>
    <div class="card-body">

        <form method="POST">

            <div class="form-group mt-3">
                <input type="text" name="fname" id="firstname" class="form-control" placeholder="First Name">
            </div>

            <div class="form-group mt-3">
                <input type="text" name="lname" id="lasttname" class="form-control" placeholder="Last Name">
            </div>



            <div class="form-group mt-3">
                <input type="number" name="contact" id="contact" class="form-control" placeholder="Contact Number">
            </div>

            <div class="form-group mt-3">
                <input type="email" name="email" id="email" class="form-control" placeholder="Email address">
            </div>

            <div class="form-group mt-3">
                <textarea name="message" id="message" cols="" rows="4" placeholder="Message"
                    class="form-control"></textarea>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <button type="button" class="btn btn-primary">Send</button>
            </div>
        </form>
    </div>
</div>
</div>
</div>

</div>