<div class="mt-5">

    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3>Write to me</h3>

                    <form>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group mt-3">
                                    <input type="text" name="fname" id="firstname" class="form-control"
                                        placeholder="First Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group mt-3">
                                    <input type="text" name="lname" id="lasttname" class="form-control"
                                        placeholder="Last Name">
                                </div>
                            </div>
                        </div>

                        <div class="form-group mt-3">
                            <input type="number" name="contact" id="contact" class="form-control"
                                placeholder="Contact Number">
                        </div>

                        <div class="form-group mt-3">
                            <input type="email" name="email" id="email" class="form-control"
                                placeholder="Email address">
                        </div>

                        <div class="form-group mt-3">
                            <textarea name="message" id="message" cols="" rows="4" placeholder="Message"
                                class="form-control"></textarea>
                        </div>
                        <div class="d-flex justify-content-end mt-3">
                            <button class="btn btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>