<div class="container">
    <div class="row margin-full">
        <h1>About</h1>
        <div class="col-xl-5">
            <div class="custom-card">
                <div class="custom-card-image">
                    <img src="/images/profile.jpg" class="img-fluid" alt="Aksa George">
                </div>
            </div>
        </div>
        <div class="col-xl-7">
            <div class="custom-card h-100">
                <div class="custom-card-body">
                    <h3 class="about-name"> Aksa George</h3>
                    <p class="about-desc">
                        &emsp;&emsp;&emsp; I am Aksa George, born and brought up in Kerala, a beautiful state, nicknamed, 'God's own country'
                    in India. After completing High school and senior secondary with flying colours, I attained
                    Bachelor's Degree in Computer Science Engineering from a leading institute in Kerala with
                    commendable academics. Soon after completing the course, I took up a job of Software analyst at a
                    leading software company and tech firm,NEST, followed by working as Senior System Analyst at BPCL,
                    Kochi Refinery. Throughout my work period, at the refinery, I felt the urge to broaden my skill sets
                    and restructure my life.It is then I decided to pursue PGD in Sofware Technology at Centinnel
                    College at Canada, a decision that has changed my life and taken me to a whole new dimension, where
                    I now find myself beginning to set foot and raise my career to a level I was hardly aware I could.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>