<div class="container">
    <div class="row margin-full">
        <div class="col-md-5">
            <div class="card">
                <div class="card-image">
                    <img src="/images/icon.png" class="img-fluid" alt="Aksa George">
                </div>
            </div>
        </div>
        <div class="col-md-7">
            <div class="card h-100">
                <div class="card-header my-2" style="background-color: white;">
                    <h3>
                        About me
                    </h3>
                </div>
                <div class="card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum adipisci distinctio quis earum recusandae dicta quas voluptates! Ratione, iusto deserunt?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati voluptas officia itaque. Officia nesciunt ex quia fuga facere provident, ea, culpa dolor sint error, exercitationem quisquam cum perspiciatis cumque accusamus!
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem id sed dolores labore quod numquam omnis quam illum voluptatum quia excepturi, eveniet architecto reiciendis. Molestias magnam sequi beatae perferendis error!
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat reiciendis voluptatem, praesentium beatae recusandae impedit quis ad eligendi minima saepe dolorum totam qui, architecto ea rem nulla, nobis aperiam omnis?
                    <br>
                    <br>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat reiciendis voluptatem, praesentium beatae recusandae impedit quis ad eligendi minima saepe dolorum totam qui, architecto ea rem nulla, nobis aperiam omnis?
                </div>
            </div>
        </div>
    </div>
</div>