<div class="container">
    <div class="row margin-full">
        <div class="col-md-4  mt-3">
            <div class="card">
                <div class="card-image">
                    <div class="mapouter">
                        <div style="max-width: 100%;" class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas"
                                src="https://maps.google.com/maps?q=111,%20flora%20drive%20Scarborough,%20Ontario,%20Ca%20M1P1A7&t=&z=13&ie=UTF8&iwloc=&output=embed"
                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a
                                href="https://2piratebay.org"></a><br>
                            <style>
                                .mapouter {
                                    position: relative;
                                    text-align: right;
                                    height: 100%;
                                    width: 100%px;
                                }
                            </style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a>
                            <style>
                                .gmap_canvas {
                                    overflow: hidden;
                                    background: none !important;
                                    height: 500px;
                                    width: 600px;
                                }
                            </style>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5  mt-3">
            <div class="card h-100">
                <div class="card-header my-2" style="background-color: white;">
                    <h3>
                        Contact me
                    </h3>
                </div>
                <div style="flex-direction: column;" class="card-body d-flex justify-content-evenly">
                    <h3>Aksa George</h3>
                    <h5 class="mt-4">111, Flora Frive Scarborough, Ontario, CA M1P1A7 </h5>
                    <h5 class="mt-4">M: +1 437 882 9484</h5>
                    <h5 class="mt-4">E: aksajeeku@gmail.com</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3  mt-3">
            <% include partials/contact-form.ejs %>
        </div>
    </div>
    
</div>