<div class="wall-image">
    <div class="row d-flex h-100">
        <div class="col-md-6">
            <div class="left-container px-5">
                <h1 class="profile-name">Aksa George</h1>
                <h6 class="profile-caption">Hello! My name is Aksa George and I am a Computer Science
                    Student attending the University of Ontario</h6>
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <a class="profile-button" href="/about">About me</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 image-div mt-5">
            <img class="img-fluid image-profile" src="/images/programmer.png" alt="">
        </div>
    </div>
    <!-- <div class="profile-header">
        <h1>Aksa George</h1>
    </div> -->
</div>
<div class="container mt-3">

    <div class="row mt-3">
        <div class="col-md-6 mt-3">
            <div class="custom-card shadow">
                <div class="custom-card-header my-2">
                    <h3 c>Mission</h3>
                </div>
                <div class="custom-card-body">
                    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sapiente reprehenderit deserunt voluptate
                    sed
                    nostrum? Consequatur, aliquid autem delectus, vel mollitia odio iusto itaque eius unde facilis
                    asperiores,
                    aliquam eos atque animi vero? Nemo, voluptatum. Nostrum quo reprehenderit quibusdam neque cumque
                    quos. Iure
                    modi nihil eaque voluptatum tempore est, a repudiandae, illo doloremque libero eum, quibusdam optio
                    minus
                    dolorum maxime vero sit fugit doloribus enim quam perferendis recusandae! Mollitia incidunt, nihil
                    necessitatibus et doloremque consectetur distinctio aliquam! Doloribus amet tenetur, maxime quos
                    vitae
                    repellendus at ullam beatae est sequi consequatur dignissimos optio dolorem modi atque cum vel,
                    quibusdam
                    voluptas odit quidem.
                </div>
            </div>

        </div>
        <div class="col-md-6 mt-3">
            <div class="custom-card shadow">
                <div class="custom-card-header my-2">
                    <h3>Vision</h3>
                </div>
                <div class="custom-card-body">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque officiis, iure reiciendis dolorem
                    quam ipsum
                    amet saepe, eum tempore quasi optio temporibus unde, quisquam nostrum praesentium esse aperiam.
                    Doloribus
                    quod illo voluptate incidunt sed id? Perspiciatis nihil sequi repudiandae magni, dolor illum! Quae,
                    excepturi ea nemo error fuga distinctio nostrum, non ad suscipit nam voluptas consectetur dolor
                    harum, unde
                    beatae cumque vero voluptates corporis. Dignissimos, sunt corporis nam alias sint, quod numquam
                    doloremque
                    consectetur voluptatum beatae odio adipisci. Nesciunt dolore temporibus architecto repellat illum
                    culpa,
                    quae vel corrupti. Dolor consectetur adipisci possimus dolore quam temporibus laboriosam sint ipsum
                    reprehenderit a.
                </div>
            </div>

        </div>
    </div>
</div>