<div class="wall-image">
    <div class="row d-flex h-100">
        <div class="col-md-6">
            <div class="left-container px-5">
                <h1 class="profile-name">Aksa George</h1>
                <h6 class="profile-caption">Hello! My name is Aksa George and I am a Computer Science
                    Student attending Centennial College</h6>
                <div class="row mt-3">
                    <div class="col-12 d-flex justify-content-center">
                        <a class="profile-button" href="/about">About me</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 image-div mt-5">
            <img class="img-fluid image-profile" src="/images/programmer.png" alt="">
        </div>
    </div>
    <!-- <div class="profile-header">
        <h1>Aksa George</h1>
    </div> -->
</div>
<div class="container mt-3">

    <div class="row mt-5">
        <div class="custom-card">

            <div class="d-flex justify-content-center">
                <h3>Vision</h3>
            </div>

            <div class="row d-flex justify-content-center"">
                <div class="col-12 text-center">
                    My desire is to be a world class Software Developer who renders solutions for various problems, with
                    building applications, being a great people manager and a great mentor to upcoming developers in the
                    technology industry. I also want to use storytelling as a medium to assist other women in tech find
                    their bearing on their journey to becoming.
                </div>
            </div>
        </div>

    </div>
    <div class="row mt-5 ">
        <div class="custom-card">
            <div class="d-flex justify-content-center">
                <h3>Skills</h3>
            </div>
        </div>
        <div class="col mt-3 text-center">
            <h6 class="mt-3">Able to communicate effectively in almost four languages, especially English.</h6>

            <h6 class="mt-3">Possess good organisational and interpersonal skills</h6>

            <h6 class="mt-3">Adapt quickly to new tasks and work environments</h6>

            <h6 class="mt-3">Confident to work independently and lead a team</h6>

            <h6 class="mt-3">Quick learner and a good listener</h6>

            <h6 class="mt-3">Multitasking is one of traits I always showcase</h6>

        </div>
    </div>
</div>