<div class="container">
    <div class="row margin-full">
        <h1>Projects</h1>
        <div class="col-md-4 mt-3">
            <div class="custom-card shadow border">
                <div class="card-image">
                    <img src="/images/residence.png" class="img-fluid" alt="Project 1">
                </div>
                <div class="custom-card-header">
                    <h3>Online Residence Association</h3>
                </div>
                <div class="custom-card-body">
                    Built to help associations save time, grow membership, and generate revenue. Integrates with your existing site or as a standalone solution.
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="custom-card shadow border">
                <div class="card-image">
                    <img src="/images/ecommerce.png" class="img-fluid" alt="Project 1">
                </div>
                <div class="custom-card-header">
                    <h3>Online Delivery Application</h3>
                </div>
                <div class="custom-card-body">
                    The Project "Online Delivery" is a web-based application Software. The main aim of this application is to improve the services of Customers and vendors. 
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="custom-card shadow border">
                <div class="card-image">
                    <img src="/images/medicine.png" class="img-fluid" alt="Project 1">
                </div>
                <div class="custom-card-header">
                    <h3>Online Medicine Delivery</h3>
                </div>
                <div class="custom-card-body">
                   Online medicine delivery appication is a web based application to deliver requied medicine to the customers as per their oreders.
                </div>
            </div>
        </div>
    </div>
</div>
