<div class="container mb-5">
    <div class="row margin-full">
        <h1>Services</h1>

        <div class="col-md-4 mt-3">
            <div class="card-image">
                <img class="img-fluid service-image" src="/images/web.png" alt="">
            </div>
            <div class="custom-card">
                <div class="service-title">
                    Web application
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="custom-card">
                <div class="card-image">
                    <img class="img-fluid service-image" src="/images/mobile.png" alt="">
                </div>
                <div class="service-title">
                   Mobile Applications
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="custom-card">
                <div class="card-image">
                    <img  class="img-fluid service-image" src="/images/social media.png" alt="">
                </div>
                <div class="service-title">
                    Social Media Promotions
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="custom-card">
                <div class="card-image">
                    <img  class="img-fluid service-image" src="/images/erp.png" alt="">
                </div>
                <div class="service-title">
                    ERP/CRM Developing
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="custom-card">
                <div class="card-image">
                    <img  class="img-fluid service-image" src="/images/web.png" alt="">
                </div>
                <div class="service-title">
                    Web designing
                </div>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="custom-card">
                <div class="card-image">
                    <img class="img-fluid service-image" src="/images/brand.png" alt="">
                </div>
                <div class="service-title">
                    Branding
                </div>
            </div>
        </div>

    </div>
</div>